xcuserdata/
.DS_Store
xcshareddata/swiftpm/Package.resolved
**/swiftpm/Package.resolved
*.swp
*.lock
.build*
Packages/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
DerivedData/
.netrc
XCodeWrapper/Configs/Local.xcconfig
.vscode/
*.xcodeproj/
.build/
Package.resolved
!SilveranKit/Package.resolved
.cache
icon*.png
XCodeWrapper/Assets.xcassets/AppIcon.appiconset/*.png
XCodeWrapper/WatchAssets.xcassets/AppIcon.appiconset/*.png
XCodeWrapper/TVAssets.xcassets/**/*.png
XCodeWrapper/Info-iOS.plist
XCodeWrapper/Info-macOS.plist
XCodeWrapper/Info-tvOS.plist
XCodeWrapper/Info-watchOS.plist
