[submodule "extern/foliate-js"]
	path = extern/foliate-js
	url = git@github.com:richwaters/foliate-js.git
[submodule "extern/assets"]
	path = extern/assets
	url = git@github.com:kyonifer/s-r-assets.git
